
html {
	scroll-behavior: smooth;
}

/* --------------------   Typography  ------------------------------- */

body {
    font-family: "Libre Franklin", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #888888;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Adamina", serif;
	margin: .5em 0;
	font-size: 2rem;
	text-align: center;
}

/* --------------------   Elements  ------------------------------- */

header,
footer {
	padding: 1rem;
	text-align: center;
}

section,
aside {
	padding: 0 1rem;
}

q::before,
q::after {
	content: '';
}

.site-wrapper {
	max-width: 125rem;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* --------------------   Links  ------------------------------- */

a,
a:visited { 
	color: white;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #FAED23;
	font-size: 1.05rem;
}

a:focus {
	outline: 1px solid #FAED23;
}

/* --------------------   Header  ------------------------------- */

header {
    background-color: #6B23FA;
	color: white;
	box-shadow: 0 2px 4px 0 black;
	min-height: 7rem;
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
}


.site-navigation {
    width: 100%;
}

.site-navigation ul {
    display: flex;
	padding-left: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* --------------------   Main  ------------------------------- */

main {
	padding-top: 7rem;
	background-color: white;
	color: #6B23FA;
}

/* title */

.title {
	display: flex;
	flex-direction: row;
	padding: 1rem;
	justify-content: center;
	align-items: center;
}

.welcome {
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome .name,
.role {
	background-color: #6B23FA;
	color: white;
	border-radius: 5rem;
	text-align: center;
}

.role {
	border-radius: 5rem;
	padding: 0.5rem;
}

.name {
	padding: 1rem;
}



/* About */

/* Had help from this website: https://www.w3schools.com/howto/howto_css_image_center.asp */
.about img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 5rem;
}

/* Works */



/* Testimonials */


/* --------------------   Footer  ------------------------------- */